
.vs/PrintingShop/v16/.suo
PrintingShop/bin/Debug/netcoreapp3.1/PrintingShop.dll
PrintingShop/bin/Debug/netcoreapp3.1/PrintingShop.pdb
PrintingShop/obj/Debug/netcoreapp3.1/PrintingShop.assets.cache
PrintingShop/obj/Debug/netcoreapp3.1/PrintingShop.csproj.FileListAbsolute.txt
PrintingShop/obj/Debug/netcoreapp3.1/PrintingShop.dll
PrintingShop/obj/Debug/netcoreapp3.1/PrintingShop.GeneratedMSBuildEditorConfig.editorconfig
PrintingShop/obj/Debug/netcoreapp3.1/PrintingShop.genruntimeconfig.cache
PrintingShop/obj/Debug/netcoreapp3.1/PrintingShop.pdb
PrintingShop/obj/PrintingShop.csproj.nuget.dgspec.json
PrintingShop/obj/project.assets.json
PrintingShop/obj/project.nuget.cache
PrintingShop/bin/Debug/netcoreapp3.1/PrintingShop.dll
PrintingShop/bin/Debug/netcoreapp3.1/PrintingShop.pdb
PrintingShop/obj/Debug/netcoreapp3.1/PrintingShop.assets.cache
PrintingShop/obj/Debug/netcoreapp3.1/PrintingShop.csproj.FileListAbsolute.txt
PrintingShop/obj/Debug/netcoreapp3.1/PrintingShop.dll
PrintingShop/obj/Debug/netcoreapp3.1/PrintingShop.GeneratedMSBuildEditorConfig.editorconfig
PrintingShop/obj/Debug/netcoreapp3.1/PrintingShop.genruntimeconfig.cache
PrintingShop/obj/Debug/netcoreapp3.1/PrintingShop.pdb
PrintingShop/obj/PrintingShop.csproj.nuget.dgspec.json
PrintingShop/obj/project.assets.json
PrintingShop/obj/project.nuget.cache
.vs/PrintingShop/v16/.suo
